ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(204, 51, 51);
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 40pc;
  grid-gap: 10px;
  background-color: #21f3a3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container > div > div{
  background-color: rgba(216, 31, 31, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
  